.container {
  background-color: #34444c;
}
.wrapper {
  font-size: 1.5rem;
  position: relative;
  color: #fff !important;
  .header {
    height: calc(var(--header-height) - 4.5rem) !important;
  }
}
.bg_img {
  position: relative;
  color: #4d5154;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
  overflow: hidden;
}
.bg_layer {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.list_item_wrapper {
  color: var(--sidebar-admin-color) !important;
}
