.wrapper {
  box-shadow: var(--card-shadow);
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
  position: relative;
  height: 19rem;
  .bg_img {
    flex-shrink: 0;
    display: inline-flex;
    background-color: currentcolor;
    top: 0;
    bottom: 0;
    left: -2rem;
    z-index: 3;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 60%;
  }

  .body {
    height: 100%;
    .header {
      height: 50%;
      .chart {
        height: 100%;
        z-index: 4;
      }
    }
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    font-weight: bold;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .children {
    width: 100%;
    align-content: end;
  }
  .icon {
    font-size: 4rem;
  }
  &.blue_card {
    .bg_img {
      color: #1877f2;
    }
    .body {
      color: #042174;
      background-color: rgba(210, 233, 254, 0.5);
      background: linear-gradient(
        to right,
        rgba(198, 227, 253, 0.5),
        rgba(198, 227, 253, 0.9)
      );
    }
  }
  &.purple_card {
    .bg_img {
      color: #8e33ff;
    }
    .body {
      color: #27097a;
      background: linear-gradient(
        to right,
        rgba(233, 207, 255, 0.5),
        rgba(233, 207, 255, 0.9)
      );
    }
  }
  &.light_yellow_card {
    .bg_img {
      color: #ffab00;
    }
    .body {
      color: #7a4100;
      background: linear-gradient(
        to right,
        rgba(254, 239, 198, 0.5),
        rgba(254, 239, 198, 0.9)
      );
    }
  }
  &.light_red_card {
    .bg_img {
      color: #ff5630;
    }
    .body {
      color: #7a0916;
      background: linear-gradient(
        to right,
        rgb(255, 223, 206, 0.5),
        rgb(255, 223, 206, 0.9)
      );
    }
  }
}
