.wrapper {
  background-color: #fff;
  width: 45rem;
  .form_wrapper {
    width: 100%;
    .form_title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;

      .main_title {
        font-size: 2.6rem;
      }
      .sub_title {
        color: var(--sub_title_color);
      }
    }
    .form {
      .forgot_password {
        font-size: calc(var(--fs-text-primary) - 0.2rem);
        color: var(--sub_title_color);
        &:hover {
          text-decoration: underline !important;
        }
      }
    }
  }
}
