@import "../../../../common/tools/Mixin/Mixin.scss";
.container {
  margin-top: 10vh;
  transition: all 0.5s ease;
  background-color: var(--background-color-step);
  border-radius: 9999rem;
  position: relative;
  height: 43rem;
  width: 65vw;
  border: 0.5rem solid #fff !important ;
  box-shadow: var(--card-shadow) !important;
  @include mobileAndTablet {
    display: none;
  }
  .container_wrapper {
    width: 100%;
    left: 0.7rem;
    top: 4rem;
    position: absolute;
    color: var(--text-color-fade-guess-dashboard);
    display: flex;
  }
  .container_step {
    font-weight: 500;
    transition:
      width 1s ease,
      height 1s ease,
      transform 0.3s ease,
      box-shadow 0.5s ease;

    &:hover {
      transform: translateY(-0.8rem);
      .img_svg_step {
        width: 75%;
      }
      .step {
        .step_content {
          box-shadow: var(--card-shadow-hover);
        }
        .title {
        }
      }
    }
    position: relative;
    .img_svg_step {
      width: 70%;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
      border-radius: 50%;
    }
    .step {
      height: 100%;
      z-index: 1;
      .step_number {
        margin-top: 40%;
        margin-bottom: 2rem;
        font-weight: 800;
        border-radius: 50%;
        text-align: center;
        padding: 1rem;
        font-size: 1.2rem;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-shadow: 0rem 0.3rem 0.7rem rgba(0, 0, 0, 0.210098);
        .inside_number {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          box-shadow: var(--card-shadow);
          padding-top: 0.5rem;
          .number {
            margin-top: -1rem;
            font-weight: 900;
            font-size: 3rem;
          }
        }
      }
      .step_content {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: var(--card-shadow);
        background-color: #fff;
        color: var(--text-color-fade-guess-dashboard);
        padding: 1rem;
        font-weight: 100;
        border-radius: 0.8rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

        margin-top: 0.5rem;
        cursor: pointer;
        font-size: var(--fs-text-primary);
        .title {
          // font-size: 2rem;
        }
        .text_strong {
          font-weight: bolder;
        }
        .body {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-weight: 600;
          height: 100%;
          span {
            line-height: 2.2;
          }
          :hover {
            transform: translateY(0px);
            box-shadow: 0;
          }
          .icon {
            font-size: 3rem;
          }
          .link {
            text-decoration: underline;
          }
        }
      }
    }
    &.step1 {
      .step {
        color: var(--welcome-page-step-1-color);
      }
      .text_strong {
        color: var(--welcome-page-step-1-color);
      }
      .step_number {
        background-color: var(--welcome-page-step-1-color);
      }
      .step_content {
        border-bottom: 0.8rem solid var(--welcome-page-step-1-color);
      }
    }
    &.step2 {
      .step {
        color: var(--welcome-page-step-2-color);
      }
      .text_strong {
        color: var(--welcome-page-step-2-color);
      }
      .step_number {
        background-color: var(--welcome-page-step-2-color);
      }
      .step_content {
        border-bottom: 0.8rem solid var(--welcome-page-step-2-color);
      }
    }
    &.step3 {
      .step {
        color: var(--welcome-page-step-3-color);
      }
      .text_strong {
        color: var(--welcome-page-step-3-color);
      }
      .step_number {
        background-color: var(--welcome-page-step-3-color);
      }
      .step_content {
        border-bottom: 0.8rem solid var(--welcome-page-step-3-color);
      }
    }
    &.step4 {
      .step {
        color: var(--welcome-page-step-4-color);
      }
      .text_strong {
        color: var(--welcome-page-step-4-color);
      }
      .step_number {
        background-color: var(--welcome-page-step-4-color);
      }
      .step_content {
        border-bottom: 0.8rem solid var(--welcome-page-step-4-color);
      }
    }
  }
}
.container_mobile {
  @include desktop {
    display: none;
  }
  width: 90vw;
  transition: all 0.5s ease;
  transition:
    width 1s ease,
    height 1s ease,
    transform 0.3s ease,
    box-shadow 0.5s ease;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  .container_wrapper {
    width: 100%;
    color: var(--text-color-fade-guess-dashboard);
    display: flex;
    flex-direction: column;
    .container_step {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 20rem;
      margin-bottom: 1rem;
      .img_svg_step {
        height: 65%;
        position: absolute;
        top: 50%;
        left: 6%;
        @include mobile() {
          height: 40%;
          top: 20%;
          left: 9%;
        }
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        border-radius: 50%;
      }
      .step {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .step_content {
          height: 19rem;
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          box-shadow: var(--card-shadow);
          color: var(--text-color-fade-guess-dashboard);
          background-color: #fff;
          padding: 1.5rem;
          font-weight: 100;
          border-radius: 2rem;
          cursor: pointer;
          font-size: var(--fs-text-primary);
          .step_number {
            font-weight: 800;
            border-radius: 50%;
            text-align: center;
            padding: 1rem;
            font-size: 1.2rem;
            color: #000000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-shadow: 0rem 0.3rem 0.7rem rgba(0, 0, 0, 0.210098);
            margin-bottom: 1rem;
            .inside_number {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: #fff;
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              box-shadow: var(--card-shadow);
              padding-top: 0.5rem;
              .number {
                margin-top: -1rem;
                font-weight: 900;
                font-size: 2.5rem;
              }
            }
          }
          .body {
            font-weight: 600;
          }
        }
      }
      &.step1 {
        .step {
          color: #2ac3ff;
        }
        .text_strong {
          color: #2ac3ff;
        }
        .step_number {
          background-color: #2ac3ff;
        }
      }
      &.step2 {
        .step {
          color: #f1a93d;
        }
        .text_strong {
          color: #f1a93d;
        }
        .step_number {
          background-color: #f1a93d;
        }
      }
      &.step3 {
        .step {
          color: #f25d28;
        }
        .text_strong {
          color: #f25d28;
        }
        .step_number {
          background-color: #f25d28;
        }
      }
      &.step4 {
        .step {
          color: #ff6379;
        }
        .text_strong {
          color: #ff6379;
        }
        .step_number {
          background-color: #ff6379;
        }
      }
    }
  }
}
